@font-face {
  font-family: "ExpoArabicBold";
  src: url("./assets/fonts/ExpoArabic-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Optional: make it global */
body {
  font-family: "ExpoArabicBold", sans-serif;
}


footer {
  font-family: "ExpoArabicBold", sans-serif;
}