/* Light Weight */
@font-face {
  font-family: 'Expo Arabic';
  src: url('./fonts/ExpoArabicLight.woff2') format('woff2');
  font-weight: 300; /* Maps to 'light' */
  font-style: normal;
}

/* Regular Weight  */
@font-face {
  font-family: 'Expo Arabic';
  src: url('./fonts/ExpoArabicRegular.woff2') format('woff2');
  font-weight: 400; /* Maps to 'normal' */
  font-style: normal;
}
/* semibold Weight */
@font-face {
  font-family: 'Expo Arabic';
  src: url('./fonts/ExpoArabicBold.woff2') format('woff2');
  font-weight: 600; /* Maps to 'semibold' */
  font-style: normal;
}

/* Bold Weight */
@font-face {
  font-family: 'Expo Arabic';
  src: url('./fonts/ExpoArabicBold.woff2') format('woff2');
  font-weight: 700; /* Maps to 'bold' */
  font-style: normal;
}
* {
  font-family: 'Expo Arabic', sans-serif !important;
}